<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Student Resource App</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=1360">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="font/css/font-awesome.css">
   </head>
   <body>
      <div class="bodyLayer"></div>
      <section class="content">
         <span class="words">
         <i class="fa fa-graduation-cap" style="font-size:60px;color:rgb(0, 99, 177)"></i><br>
         Student Resource App
         </span>
      </section>
      <a class="homepage_button_begin" href="home">
      Click here to go to home <i class="fa fa-arrow-right arrowHover"></i>    
      </a>
   </body>
</html>
